$primary-color: #155d7a;
$primary-color-hover: #4f91aa;
$text-color-primary: #222;
$text-color-secondary: #544f54;

$familly-font-primary: "Open Sans", Arial, Helvetica, sans-serif;
$familly-font-secondary: "Montserrat", Arial, Helvetica, sans-serif;
